.header {
    display: flex;
    justify-content: space-between;
    border : 1px solid black;
}
.logo img{
    width: 90px;
}   
.nav-items > ul{
    display: flex;
    list-style-type: none;
}
.nav-items > ul > li{
    font-size: 20px;
    padding: 10px 20px;
}
.restaurant-card{
    padding: 5px;
    width: 200px;
    height: 350px;
    border: 1px solid black;
}
.restaurant-card:hover{
    border: 1px solid orangered;
    cursor: pointer;
}
.res-logo{
    height: 130px;
    width: 100%;
}
.restaurant-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}